# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environments
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# IDEs and editors
.idea/
*.swp
*.swo
